html,body,ul,li,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,img,dt,dd,dl,figure,figcaption{
    margin:0;
    padding: 0; 
}
strong,b{
    font-weight: normal;
}
a,u{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 16px;
}
i,em{
    font-style: normal;
}
ul,ol,li{
    list-style: none;
}
img{
    border:0;display:block;
}
input{
    outline:none;
}


html,body,ul,li,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,img,dt,dd,dl,figure,figcaption{
    margin:0;
    padding: 0; 
}
strong,b{
    font-weight: normal;
}
a,u{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 16px;
}
i,em{
    font-style: normal;
}
ul,ol,li{
    list-style: none;
}
img{
    border:0;display:block;
}
input{
    outline:none;
}

.location,.dContent{
    width: 1090px;
    margin: 0 auto;
}


.location {
    height: 57px;
    line-height: 57px;
    overflow: hidden;
}
.location a {
    color: #333333;
    font-size: 14px;
}
.location span {
    color: #666666;
    font-size: 14px;
    padding: 0 8px;
}
/*内容*/
.dContent{
	/*height: 458px;*/
	height: 488px;
	border-bottom: 1px solid #EAEAEA;
	/*background: pink;*/
}
.dContent_l{
	width: 380px;
	height: 458px;
	/*background: red;*/
	float: left;
}

#divw img{
	display: block;
	width: 380px;
	height: 380px;
	margin-bottom: 10px;
}
.ul-w ul li{
    float: left;
    list-style: outside none none;
    margin-right: 10px;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    /*margin-top: 16px;*/
	margin-left: 20px;
}

.dContent_r{
	float: left;
    margin-left: 30px;
    width: 560px;
    height: 458px;
    /*background: blue;*/
}
.detail_tit {
    color: #303030;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2em;
    padding-top: 10px;
    overflow: hidden;
}
.pop_tit {
    color: #666;
    float: left;
    font-size: 14px;
    min-width: 55px;
    width: 75px;
    padding-left: 10px;
}
.sp_hot {
    font-size: 18px;
    color: #303030;
}
.sp_hot .em_l {
    padding-right: 5px;
    font-size: 18px;
}
.detail_tit_md {
    font-size: 14px;
    color: #c41f3a;
    font-weight: normal;
    margin-top: 15px;
    line-height: 1.2em;
    overflow: hidden;
}
.price_wrap {
    width: 100%;
    background-color: #fefafb;
    margin-top: 10px;
    height: 62px;
    border-bottom: 1px dashed #f0dde1;
    padding-bottom: 10px;
}
.detail_price, .g_server {
    width: 520px;
}
.pop_tit {
    color: #666;
    float: left;
    font-size: 14px;
    min-width: 55px;
    width: 75px;
    padding-left: 10px;
}
.price_now {
    font-size: 42px;
    color: #c41f3a;
}
.price_box {
    float: left;
    width: 420px;
}
.em_sign {
    color: #c41f3a;
    font-size: 18px;
    font-weight: normal;
}
.detail_price del {
    color: #999999;
    font-size: 14px;
    padding: 0 18px 0 8px;
}

.detail_freight {
    /*margin-top: px;*/
    padding: 12px 0;
    overflow: hidden;
    border-bottom: 1px dotted #dcdcdc;
}
.pop_tit {
    color: #666;
    float: left;
    font-size: 14px;
    min-width: 55px;
    width: 75px;
    padding-left: 10px;
}
.pop_black {
    color: #333333;
    font-size: 14px;
}
.pop_black em {
    font-size: 14px;
}
.color_wrap {
    line-height: 33px;
}
.model_wrap {
    width: 100%;
    overflow: hidden;
    padding: 10px 0 0 0;
}
.pop {
    color: #666;
    float: left;
    font-size: 14px;
    min-width: 55px;
    width: 75px;
    padding-left: 10px;
    margin-top: 26px;
}
.pop_tit {
    color: #666;
    float: left;
    font-size: 14px;
    min-width: 55px;
    width: 75px;
    padding-left: 10px;
}
.color_ul {
    float: left;
    width: 470px;
}
.color_ul .on {
    border: 2px solid #F11D20;
}

.color_ul li {
    overflow: hidden;
    min-width: 24px;
    color: #333333;
    border: 1px solid #c8c8c8;
    float: left;
    margin-right: 10px;
    padding: 0 15px;
    /*position: relative;*/
    line-height: 30px;
    height: 32px;
    /*display: block;*/
    text-align: center;
    margin-bottom: 8px;
    box-sizing: border-box;
   
}
.color_ul li a {
    color: #404040;
    font-size: 12px;
}


/*.color_ul .on b {
    background: url(../image/detail_icon_list.png) -87px 0;
    bottom: 0;
    display: block;
    height: 13px;
    position: absolute;
    right: 0;
    width: 12px;
}*/

.count_wrap {
    height: 34px;
    line-height: 34px;
    padding-bottom: 20px;
}
.model_wrap {
    width: 100%;
    overflow: hidden;
    padding: 10px 0 0 0;
}
.wrap_input {
    float: left;
    /*position: relative;*/
}

.btn-reduce {
    border: 1px solid #c8c8c8;
    background-color: #fff;
    float: left;
    height: 32px;
    width: 32px;
    color: #999999;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.text {
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    border-left: 0px;
    border-right: 0px;
    float: left;
    height: 30px;
    text-align: center;
    width: 60px;
    line-height: 23px;
}

.btn-add {
    border: 1px solid #c8c8c8;
    background-color: #fff;
    float: left;
    height: 32px;
    width: 32px;
    color: #999999;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.model_in_stock {
    width: 100%;
    overflow: hidden;
    padding: 28px 0 0 0;
}
.model_in_stock p {
    width: 100%;
    overflow: hidden;
}
.a_buy_now {
    margin-left: 10px;
    display: block;
    float: left;
    width: 136px;
    height: 36px;
    border: 2px solid #b51748;
    color: #fff;
    text-align: center;
    line-height: 36px;
    background-color: #b51748;
    font-size: 16px;
}

.a_add_car {
    margin-left: 17px;
    margin-bottom: 12px;
    display: block;
    float: left;
    width: 136px;
    height: 36px;
    border: 2px solid #a82045;
    color: #b51748;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
}
.detail_tips {
    font-size: 14px;
    color: #333;
    overflow: hidden;
}
.detail_tips span {
    font-size: 14px;
    color: #94193f;
}
.detail_tips {
    font-size: 14px;
    color: #333;
    overflow: hidden;
}
.detail_ewm {
    width: 160px;
    height: 191px;
    margin-left: 20px;
    text-align: center;
    color: #444851;
    background: url(../image/detail_icon_list.png) no-repeat scroll 0 -433px;
   	position: absolute;
    right: 66px;
    top: 254px;
}
.ewm_bg_img {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 20px 0 6px 20px;
}
.detail_ewm img {
    width: 100%;
    margin-top: 20px;
}
.b_ewm_icon {
    background: url(../image/detail_icon_list.png) no-repeat scroll -173px -433px;
    height: 69px;
    left: 12px;
    position: absolute;
    top: -44px;
    width: 105px;
}
.fs_14, .fs_16 {
    font-size: 13px;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1.3em;
}
.fs_14 {
    margin-top: 14px;
}

#cart{
	width: 50px;
	position: absolute;
	right: 104px;
	top: 458px;
	/*display: none;*/
}
#cartImg{
	position: absolute;
	width: 60px;
}
#cartImg img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
#cartImg span{
	display: inline-block;
	line-height: 50px;
	font-size: 12px;
	color: green;
	padding:0 5px;
}
/*遮罩层*/

#mask{
	width: 175px;
	height: 175px;
	background: paleturquoise;
	position: absolute;
	left:0;
	top: 0;
	opacity: 0.3;
	display: none;
	cursor: move;
	}
#divw{
	position: relative;	
	}
#big{
		width: 470px;
		height: 470px;
		border: 1px solid #000;
		overflow: hidden;
		position: absolute;
		top:276px;
		left : 602px;
		background: white;
		display: none;
	}
#bigImg{
	position: absolute;
	left: 0;
	top: 0;
}